@import "tailwindcss";

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  border: none;
  outline: none;
}

h1, h2, h3, p, small, span{
  padding: 0px;
  margin: 0px;
}

.shadow-01{
  box-shadow: 4px 4px 4px rgba(0,0,0, 0.15);
}